/**
 * Cube
 */

 .rcdcLawsChart .st0 {
  fill: none;
  stroke: #5B7F96;
  stroke-miterlimit: 10;
}
.rcdcLawsChart .st35 {
  font-family: 'Futura', sans-serif;
}
.rcdcLawsChart .st36 {
  font-size: 45px;
}
.rcdcLawsChart .st37 {
  letter-spacing: 2;
}
.rcdcLawsChart .st39 {
  fill: none;
}
.rcdcLawsChart .st41 {
  fill: #FFFFFF;
}
.rcdcLawsChart .st42 {
  display: none;
}
.rcdcLawsChart .st43 {
  display: inline;
  fill: #0A4063;
}
.rcdcLawsChartCube polygon {
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
  fill: #E6E6E6;
}
.rcdcLawsChartHelpToggle {
  cursor: pointer;
}
.rcdcLawsChartHelpToggle circle {
  fill: #849FB1;
}
.rcdcLawsChartHelpToggle--active circle {
  fill: #094063;
}
.rcdcLawsChartTitle {
  fill: #5B7F96;
}
.rcdcLawsChartTitle--active {
  fill: #094063;
}
.rcdcLawsChartScore {
  fill: #5B7F96;
}
.rcdcLawsChartScore--active {
  fill: #094063;
}
.rcdcLawsChartHelpLine line {
  stroke: transparent;
  stroke-width: 2px;
}
.rcdcLawsChartHelpLine--active line {
  stroke: #000;
}
.rcdcLawsChartHelpDisplay:not(.rcdcLawsChartHelpDisplay--active) {
  display: none;
}
.rcdcLawsChartHelpDisplay__icon circle {
  fill: #aa84fb;
}
.rcdcLawsChartHelpDisplay__heading {
  font-family: 'Futura', sans-serif;
  fill: #094063;
}
.rcdcLawsChartHelpDisplay_content {
  font-family: 'Futura', sans-serif;
  fill: #094063;
}